@using Microsoft.AspNetCore.Identity;
@using BloodBankApplication.Data;
@inject SignInManager<Donor> SignInManager
@inject UserManager<Donor> UserManager

@model IEnumerable<BloodBankApplication.Data.Donor>

@{
    ViewData["Title"] = "Display";
}

<h4>@ViewData["Title"]</h4>

<form asp-action="Display" method="get">
    <div class="form-actions no-color">
        <p>
            Enter your blood group: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            Enter your city: <input type="text" name="searchstring2" value="@ViewData["currentFilter1"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Display">Back to Full List</a>
        </p>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bloodGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.availability)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bloodGroup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.availability)
                </td>


                @*<td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>




@*<table class="table">
        <tbody>

            @foreach (var item in Model)
            {
                if (item.availability == "Yes")
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.bloodGroup)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.city)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.availability)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>*@
